alembic
aiosqlite
asyncpg
faiss-cpu
fastapi
huggingface_hub
httpx
itsdangerous
langchain
langchain-upstage
openai
pandas
python-dateutil
python-dotenv
python-multipart
requests
sentence-transformers
sqlalchemy[asyncio]>=1.4.0
uvicorn[standard]